name: Deploy via SSM

on:
  push:
    branches:
      - main1

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Deploy to EC2 using SSM
        run: |
          aws ssm send-command \
            --instance-ids "i-01fb0f9bd9bb39e66" \
            --document-name "AWS-RunShellScript" \
            --comment "Deploy Python App" \
            --parameters '{"commands":["sudo -u ubuntu bash -c \"cd /home/ubuntu/hello-ci-cd && git pull origin main && sudo systemctl restart hello-world-8000\""]}'
